<p>
<div class="pair_title"><h1>Your *pairs*</h1></div>
</p>
<div class="pairs">
  <ol>
  <% @pairs.each do |p| %>
    <li><% p.each do |student| %>
      <p class='pair'><%= link_to "#{student.name}", (student_path(student)) %></p>
    <% end %></li>
  <% end %>
  </ol>
</div>

<div>
  <h1>Groups</h1>
  <ol>
  <% @groups_array.each do |group| %>
    <li><% group.each do |student| %>
      <p><%= student.name %> <br><p>
    <% end %></li>
  <% end %></ol>
</div>
