

<div class="generate">

<%= form_tag("/pairs", method: :get) %>
<%= select_tag "cohort_id", options_from_collection_for_select(@cohorts, "id", "name") %><br><Br>
<%= submit_tag "Generate Pairs", class:"button" %>
</div>



